.heroes {
  margin: $base-line-height 0 $base-line-height 0;
  list-style-type: none;
  padding: 0;
  width: $base-line-height * 15;

  .selected {
    border: 1px solid $yellow;
    color: $yellow;
  }

  & li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: $base-2;
    margin: $base-line-height * 0.5 auto;
    padding: 0 $base-line-height * 0.5 0 0;
    border: 1px solid $base-3;
    border-radius: 4px;

    .badge {
      display: inline-block;
      padding: $base-line-height * 0.5;
      background-color: $yellow;
      color: $base-2;
      margin-right: $base-line-height * 0.5;
      border: 1px solid $yellow;
      border-right: 0;
      border-radius: 4px 0 0 4px;
      position: relative;
    }

    &:hover {
      border: 1px solid $yellow;
      color: $yellow;
      left: .37rem;
    }

    .text {
      position: relative;
      top: -3px;
    }
  }

}

.hero-name {
  color: $yellow;
}

.descriptors {
  color: $yellow;
  font-weight: $strong;
  font-style: $italic;
  text-decoration: underline;
  text-decoration-color: $base-1;
}
