//--- Solarized by Ethan Schoonover (http://ethanschoonover.com/solarized)

//--- Dark background tones ----------------------------------------------
$base-03:    rgb(  0,  43,  54);     // #002B36 | maastricht-blue
$base-02:    rgb(  7,  54,  66);     // #073642 | warm-black

//--- Content (text) tones -----------------------------------------------
$base-01:    rgb( 88, 110, 117);     // #586E75 | cadet
$base-00:    rgb(101, 123, 131);     // #657B83 | aurometalsaurus
$base-0:     rgb(131, 148, 150);     // #839496 | roman-silver
$base-1:     rgb(147, 161, 161);     // #93A1A1 | cadet-grey

//--- Light backgroun tones ----------------------------------------------
$base-2:     rgb(238, 232, 213);     // #EEE8D5 | eggshell
$base-3:     rgb(253, 246, 227);     // #FDF6E3 | old-lace

//--- Accent colors ------------------------------------------------------
$yellow:     rgb(181, 137,   0);     // #B58900 | dark-goldenrod
$orange:     rgb(203,  75,  22);     // #CB4B16 | sinopia
$red:        rgb(220,  50,  47);     // #DC322F | permanent-geranium-lake
$magenta:    rgb(211,  54, 130);     // #D33682 | deep-cerise
$violet:     rgb(108, 113, 196);     // #6C71C4 | toolbox
$blue:       rgb( 38, 139, 210);     // #268BD2 | cyan-cornflower-blue
$cyan:       rgb( 42, 161, 152);     // #2AA198 | jungle-green
$green:      rgb(133, 153,   0);     // #859900 | olive-green
